* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}
div {
    /* border: 2px black solid;  */
}

.navtop {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding: 10px;
    float: right;
}

.navtop, a {
    float: right;
    color: black;
    text-align: right;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 13px;
}


.navimage {
    margin-top: -12px;
    float: right;

}

.container {
    padding-top: 100px;
    margin: 300px auto;
    width: 40%;
    height: 180px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 2fr 1fr;
    grid-gap: 20px;
    text-align: center;
    border: none;
}

.searchbox {
    height: 50px;
    width: 500px;
    margin-left: 120px;
    border-radius: 27px;
    display: grid;
    grid-template-columns: 1fr 10fr 1fr; 
    align-self: start;
    box-sizing: border-box;
    border: 1px solid grey;
}

.buttons {
    position: relative;
    bottom: -5px;
    left: -5px;
    border: none;
    font: 400 13.3333px Arial;
    padding: 10px;
}

.searchbtn {
    height: 36px;
    width: 126px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin-right: 10px;
    font-size: 14px;
}

.footer {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0px;
    font-size: small;
    background: #f2f2f2;
}

.left {
    position: fixed;
    bottom: 15px;
}

.left li{
    display: inline;
    padding: 5px;
}

.right {
    position: fixed;
    bottom: 15px;
    right: 20px;
}

.right li{
    display: inline;
    padding: 15px;
}

#gridicon {
    height: 40px;
    width: 40px;
    float: right;
    margin-left: -3px;
}

#signin-but {
    float: right;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.15rem 0.5rem;
    margin-top: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #4387fd;
    color: white;
}

#searchicon {
    height: 25px;
    width: 25px;
    align-self: center;
    justify-self: center;
}

#search {
    border: none;
    margin: 3px;
}

#mic {
    height: 22px;
    width: 15px;
    align-self: center;
    justify-self: center;
}

#logo {
    margin-top: 15px;
    margin-left: 240px;
}