body {
    font-family: arial, sans-serif;
    background: #fff;
    color: #222;
    font-size: small;
}

.navtop {
    background-color: white;
    overflow: hidden;
    width: 100%;
    height: 50px;
    padding: 10px;
    float: right;
}

.navtop, a {
    float: right;
    color: black;
    text-align: right;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 13px;
}


.navimage {
    margin-top: -12px;
    float: right

}

#signin-but {
    float: right;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.15rem 0.5rem;
    margin-top: 2px;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: #4387fd;
    color: white;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}
#gridicon {
    height: 40px;
    width: 40px;
    float: right;
}

